<!DOCTYPE html> 
<html> 
    <head> 
        <title>Login/logout</title> 
    </head> 
<body> 
        <h1>Gestion Salle Tp</h1> 
        <p><a href="{{ path('logout')  }}"> se logguer</a></p> 
    </body> 
</html>