{% extends "UEOChoixBundle::layout.html.twig" %}
{% block title %}Gestion des etudiants{% endblock %}


{% block body -%}
    <h1>Specialite creation</h1>

    {{ form(form) }}

        <ul class="nav">
    <li>
        <a href="{{ path('specialite') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
