{% extends "UEOChoixBundle::layout.html.twig" %}
{% block title %}Gestion des etudiants{% endblock %}


{% block body -%}
    <h1>Formulaire d'inscription</h1>

    {{ form(form) }}

      
</ul>
{% endblock %}
